.Formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5em 0;
    flex-direction: column;
} 
.Formulario-container h2 {
    margin: 0;
    color: #64FFDA;
}
.Formulario-container h2::before {
    content: '02.';
    font-size: 0.8em;
    margin: 0 0.5em;
    color: #64FFDA;
}


.Formulario-container-p {
    margin: 0;
    color: #717C98;
    text-align: center;
    margin: 1.5em 0;
    width: 80%;    
}


.Formulario {
    width: 80%;
    display: flex;
    gap: 1em;
    justify-content: center;
    
    flex-direction: column;
}

.Formulario label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    
}
.Formulario label input, textarea{
    margin: 0;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    background-color: #112240;
    color: #C1CBEB;
    border: 0;
    border-style: none;
    border-radius: 0 1em 1em 1em;
    }

 
.Formulario label p {
    color: #64FFDA;
    margin: 0;
}

.Formulario label:nth-child(4){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  margin: 0 auto;
}

.Formulario label button {
    width: 5em;
    background-color: #0A192F;
    margin: 1em 0;
    border: #64FFDA solid 1px;
    padding: 0.5em 1em;
    color: #64FFDA;
    border-radius: 0.5em;
}
.Formulario label textarea {
    height: 7em;

}
@media only screen and (min-width: 768px){
  .Formulario {
    width: 20%;
  } 
  
  .Formulario label p {
    color: #64FFDA;
    font-size: 0.8em;
    margin: 0;
}

  .Formulario label input, textarea{
    margin: 0;
    box-sizing: border-box;
    padding: 0.8em;
    font-size: 0.8em;
    width: 100%;
    background-color: #112240;
    color: #C1CBEB;
    
    
    }
    .Formulario label textarea {
        height: 7em;

    }

  .Formulario-container-p {
    width: 40%;  
    font-size: 1em;
}

.Formulario-container > h2 {
    margin: 0;
    font-size: 1.5em;
    color: #64FFDA;
}
}