.ExperienceS-container {
    width: 100%;
    
}

.ExperienceS-div {
    width: 100%;
    max-width: 450px;
    
}

.ExperienceS-div h2 {
    color: #CCD6F6;
    text-align: start;
    font-size: 1.3em;
}

.ExperienceS-div h2::before {
    content: '02.';
    color: #64FFDA;
    margin: 0 0em 0 1em;
}
.Options {
    
    
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
   
    
}

.Options span {
    box-sizing: border-box;
    color: #64FFDA;
    
    width: 10em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.Options-visible {
    border-bottom: #64FFDA 2px solid;
}
.ExperienceS-text {
    color: #7D87A5;
    margin: 2.5em 2em;
    display: none;
}

.ExperienceS-text h3 {
    color: #CCD6F6;
    margin: 0;
    font-size: 1.2em;
}

.Experience-date {
    margin-top: 0.25em;
    font-size: 0.8em;
}


.ExperienceS-text ul {
    
    padding: 1em;
}

.ExperienceS-text ul li {
    padding-left: 0em;
    list-style:disc;
    
}

.Description-visible {
    display: inherit;
}







/* ---------------0 */
::selection {
    background: yellow;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: system, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    margin: 0;
    background-color: #202124;
    color: #fafafa;
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: color 0.25s ease;
  }
  
  p {
    margin: 0;
  }
  
  .container {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    display: flex;
    align-items: flex-start;
  }
  .container .tabs {
    display: block;
    position: relative;
    z-index: 3;
    width: max-content;
  }
  .container .tabs .tab {
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0;
    transition: all 0.25s ease;
    border-left: 2px solid #5f6368;
    color: #5f6368;
  }
  .container .tabs .tab:hover {
    color: #fff;
  }
  .container .tabs .tab.active {
    color: #fff;
  }
  .container .tabs .tab.tab-1.active ~ .highlighter {
    transform: translateY(0px);
  }
  .container .tabs .tab.tab-2.active ~ .highlighter {
    transform: translateY(40px);
  }
  .container .tabs .tab.tab-3.active ~ .highlighter {
    transform: translateY(80px);
  }
  .container .tabs .highlighter {
    display: block;
    background: #fff;
    width: 2px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    transition-delay: 0.1s;
    z-index: 10;
  }
  .container .tabs a:first-of-type {
    border-top-left-radius: 2px;
  }
  .container .tabs a:last-of-type {
    border-top-right-radius: 2px;
  }
  .container .content {
    position: relative;
    padding: 0 20px;
  }
  .container .content__section {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity 0s ease;
  }
  .container .content__section.visible {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    z-index: 2;
  }