@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #112240;
    padding: 1em;
    gap: 1em;
    font-family: 'Roboto Mono', monospace;

  }
footer ul {
    display: flex;
    margin: 0;
    gap: 1.5em;
    padding: 0;
    
}

footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 1.5em;
    
}

footer p {
    color: #CCD6F6;
    text-align: center;
    width: 70%;
    margin: 0;
    font-size: 0.6em;
}

  .TheIcon {
    color: #CCD6F6;
    width: 100%;
    height: 40px;
    margin: 0 0.3em;
    padding: 0;
  }