@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

ul {
    list-style: none;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #0A192FE6;
    display: flex;
    justify-content: flex-start;
    height: 5.5em;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.burger-menu {
    height: 100%;
    width: 4em;
    height: 1.3em;
    display: flex;
    position: absolute;
    right: 0em;
    top: 0.5em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1.8em 1.8em;
    cursor: pointer;
    z-index: 5;
    
    
}

.burger-bar:nth-child(1) {
    width: 2.3em;
    height: 0.14em;
    background-color: #64FFDA;
    
}
.burger-bar:nth-child(2) {
    width: 1.95em;
    height: 0.12em;
    background-color: #64FFDA;
    
}
.burger-bar:nth-child(3) {
    width: 1.5em;
    height: 0.14em;
    background-color: #64FFDA;
    
}

.menu {
    background-color: #112240;
    height: 100vh;
    color: #CCD6F6;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 0;
    right: 0;
    z-index: 5;
    box-shadow: 0.5em 0em 1em 1em #000;
    transition: width 0.3s ease-in-out;   
}

.menu ul {
    padding: 0;
    font-size: 1.1em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.menu ul li p {
    color: #64FFDA;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    font-size: 0.8em;

}
a {
    letter-spacing: 0.1em;
    font-size: 1.1em;
}
.menu ul li {
    
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu ul li span {
    margin-top: 2em;
    border-radius: 0.3em;
    color: #64FFDA;
    font-size: 0.9em;
    padding: 1em 3em;
    border: #64FFDA solid 1px;;
}
.noshow {
    visibility: hidden;
}
/* ------------- sliding menu ------------------ */
.hidden {
    width: 0em;
    box-shadow: none;
    
}

.visible {
    width: 18em;
    display: flex;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.5em, .2em);
    width: 2em;
    transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.6em, 0.3em);
    width: 2em;
    transition: ease-out 0.3s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media only screen and (min-width: 768px) {
    .menu ul {
        padding: 0;
        font-size: 0.8em;
        margin: 0 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 3em;
        position: fixed;
        top: 1.5em;
        right: 0em;
    }

    .menu ul li {
    
        display: flex;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .noshow {
        visibility: visible;
    }

    .burger-menu {
        display: none;
    }
    .menu ul li span {
        margin-top: 0em;
        border-radius: 0.3em;
        color: #64FFDA;
        font-size: 0.9em;
        padding: 0.75em 1.5em;
        border: #64FFDA solid 1px;;
    }
    nav {
        height: 5em;
    }
    
}