@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.OtherProjects-boxes {
    display: flex;
    justify-content: center ;
    display: flex;
	width: 100%;
	max-width: 1200px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.6em;
	box-sizing: border-box;
	padding: 20px 10px;
}


.OtherProjectBox {
    background-color: #112240;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    padding: 1.5em;
    margin: 0em 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    transition: transform 0.25s ease-in-out;

}

.OtherProjectBox:hover {
    transform: translate(0em, -0.5em);
}

.OtherProjectBox:hover > .OtherProjectBox-info .OtherProject-title {
    color: #64FFDA;
}


.OtherProjectBox-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}

.TheFolder {
    width: 3em;
    color: #64FFDA;
}
.project-links {
    display: flex;
    gap: 1em;
    width: 100%;
    
    justify-content: flex-end ;
    color: #A3ACCB;
    align-items: center;
}

.project-links a {
    width: 1.2em;
 }

.SmallProjectLink {
    width: 100%;
    transition: color 0.25s ease-in-out;
}
.SmallProjectLink:hover {
    color: #64FFDA;
}
.OtherProjectBox-info {
    width: 100%;
    margin: 0;
    margin-bottom: 0em;
}

.OtherProject-title {
    font-size: 1.5em;
    color: #C1CBEB;
    margin: 0;
    transition: color 0.25s ease-in-out;
}
.otherProject-description {
    color: #8591B0;
    font-family: 'Nunito Sans', sans-serif;

    font-size: 1em;
}
.OtherProjectBox-footer {
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 1em;
}



.OtherProjectBox-footer ul {
    display: flex;
    color: #4D5A78;
    gap: 1em;
}

.SmallProjectLink {
    width: 1em;
}
@media only screen and (min-width: 768px) {
    .OtherProjects-container-title{
        margin: 0;
        color: #CCD6F6;
        font-size: 1.5em;
      }
      .OtherProjects-container-p {
        margin: 0;
        margin-top: 1.5em;
        color: #64FFDA;
        font-size: 0.8em;
      }

      .OtherProjectBox {
        max-width: 350px;
        
        padding: 1.75em;
      }

      .OtherProjectBox-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.2em;
        align-items: center;
        height: 3em;
    }
    
    .TheFolder {
        width: 2.5em;
        color: #64FFDA;
    }

    .project-links a {
        width: 1.2em;
     }

    .project-links {
        display: flex;
        gap: 1em;
        width: 100%;
        
        justify-content: flex-end ;
        color: #A3ACCB;
        align-items: center;
    }
    
   
    
    .SmallProjectLink {
        width: 100%;
     
    }
    
    .OtherProjectBox-info {
        width: 100%;
        margin: 0;
        margin-bottom: 0em;
    }
    
    .OtherProject-title {
        font-size: 1.2em;
        color: #C1CBEB;
        margin: 0;
    }
    .otherProject-description {
        color: #8591B0;
        font-family: 'Nunito Sans', sans-serif;
    
        font-size: 1em;
    }
    .OtherProjectBox-footer {
        width: 100%;
        font-size: 1em;
        margin: 1em 0 0 0;
    }
    
    
    
    .OtherProjectBox-footer ul {
        display: flex;
        color: #4D5A78;
        gap: 1em;
    }
    }