@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.OtherProjects-boxes {
    display: flex;
    justify-content: center ;
}


.OtherProjectBox {
    background-color: #112240;

    box-sizing: border-box;
    padding: 7%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.2em;
    width: 85%;
    min-height: 350px;
    max-height: 400px;
    

}
.OtherProjectBox-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    align-items: center;
}

.TheFolder {
    width: 80%;
    color: #64FFDA;
}
.project-links {
    display: flex;
    gap: 5%;
    width: 100%;
    
    justify-content: flex-end ;
    color: #A3ACCB;
    align-items: center;
}

.project-links a {
    width: 9%;
 }

.SmallProjectLink {
    width: 100%;
 
}

.OtherProjectBox-info {
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
}

.OtherProject-title {
    font-size: 125%;
    color: #C1CBEB;
    margin: 0;
}
.otherProject-description {
    color: #8591B0;
    font-family: 'Nunito Sans', sans-serif;

    font-size: 100%;
}
.OtherProjectBox-footer {
    width: 100%;
    font-size: 100%;
    margin-bottom: 1em;
}



.OtherProjectBox-footer ul {
    display: flex;
    color: #4D5A78;
    gap: 1em;
}