.WorkS-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WorkS-h2 {
  color: #CCD6F6;
  text-align: start;
  font-size: 1em;
  width: 100%;
  max-width: 650px;
}
.WorkS-h2::before {
  content: '03.';
  color: #64FFDA;
  margin: 0 0em 0 1em;
}

a {
    display: inline-blesock;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
  }
  
  button {
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  
  
  img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .Projects-container {
    max-width: 650px;
    margin: 50px auto;
  }
  

  .project-description {
    font-size: 0.6em;
    
  }

  @media screen and (max-width: 768px) {
    .project-description {
      font-size: 1em;
    }
  }

  .project {
    margin: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .project {
      align-items: flex-start;
    }
  }
  
  .project-content {
    position: relative;
    grid-column: 1/7;
    grid-row: 1/-1;
  }
  @media (max-width: 768px) {
    .project-content {
      grid-column: 1/-1;
      padding: 40px;
    }
  }
  .project-content .project-label {
    color: #64ffda;
    font-size: 0.8em;
    font-family: monospace;
  }
  .project-content .project-title {
    font-size: 1rem;
    margin: 10px 0 2em 0;
    position: relative;

    z-index: 2;
    color: #ccd6f6;
  }
  .project-content .project-details {
    font-size: 15px;
    line-height: 1.5;
    color: #aaa;
  }
  .project-content .project-details p {
    background-color: #112240;
    color: #a8b2d1;
    z-index: 2;
    position: relative;
    padding: 15px 15px;
  }
  @media (max-width: 768px) {
    .project-content .project-details p {
      background-color: transparent;
      
      padding: 20px 0;
    }
  }
  .project-content .project-details ul {
    display: flex;
    font-size: .7em;
    margin-top: 2em;
    color: #ccd6f6;
  }
  .project-content .project-details ul li {
    margin-right: 20px;
    color: #ccd6f6;
    font-family: monospace;
  }
  
  .project-img {
    position: relative;
    z-index: 1;
    background-color: #64ffda;
    background: linear-gradient(0.4turn, #64ffda, #64ff8d);
    border-radius: 2px;
    grid-column: 6/-1;
    grid-row: 1/-1;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .project-img {
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    .project-img {
      grid-column: 1/-1;
      opacity: 0.25;
    }
  }
  .project-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #0a192f;
    mix-blend-mode: screen;
    border-radius: 2px;
  }
  .project-img img {
    border-radius: 2px;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
  }
  @media screen and (max-width: 768px) {
    .project-img img {
      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }
  .projects-icons {
    display: flex;
    gap: 0em;
  }
  .ProjectLink {
    width: 1.5em;;
  }
  .OtherProjects-container {
    width: 100%;
  display: flex ;
  flex-direction: column;
  
  align-items: center;
  }
  .OtherProjects-container-title{
    margin: 0;
    color: #CCD6F6;
    font-size: 1.2em;
  }
  .OtherProjects-container-p {
    margin: 0;
    margin-top: 1em;
    color: #64FFDA;
    font-size: 0.8em;
  }