@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.App {
    width: 100%;
    background-color: #0A192F;
    font-family: 'Oswald', sans-serif;

    
}
